.aboutDiv {
  display: flex;
  justify-content: center;
}

.aboutBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100vh;
  justify-self: center;
  margin-top: 10px;
  width: 100%;

  @media (min-width: 700px) {
    width: 55%;
    height: 100vh;
    align-self: right;
    margin-top: 0px;
  }
}

.sectionTitle {
  margin-top: 0px;
  text-align: center;
  z-index: 3;
  border-radius: 150px;
  animation: glowTitle 15s ease-in-out infinite;
}

@keyframes glowTitle {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    text-shadow: 0px 0px 6px #ffffff8c;
  }
  10%,
  30%,
  50%,
  70%,
  80%,
  90% {
    text-shadow: 0px 0px 2px #ffffff8c;
  }
}

.aboutTextDiv {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdfcf2;

  p {
    padding: 4%;
    font-size: 14px;
    margin: 0px;
  }
  @media (min-width: 700px) {
    width: 80%;
    align-self: flex-end;
    height: 70vh;
  }
}

.aboutImg {
  width: 110px;
  z-index: 2;

  border-radius: 350px;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);

  @media (min-width: 700px) {
    width: 150px;
  }
}

.balloonDiv {
  display: none;
  @media (min-width: 700px) {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.balloonAbout {
  width: 60%;
  display: none;
  justify-self: flex-end;
  z-index: 0;

  left: 0px;
  @media (min-width: 700px) {
    display: unset;
    animation: onMove 10s ease-in-out infinite;
  }
}

.ballonLight {
  animation: onBalloonLight 10s ease-in-out infinite;
}

.ballonFire {
  animation: onFire 10s ease infinite;
  -webkit-box-shadow: 0px 0px 54px 22px rgba(255, 208, 90, 1);
  -moz-box-shadow: 0px 0px 54px 22px rgba(255, 208, 90, 1);
  box-shadow: 0px 0px 54px 22px rgba(255, 208, 90, 1);
}

@keyframes onBalloonLight {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }
}
@keyframes onFire {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    box-shadow: 0px 0px 54px 22px rgba(255, 208, 90, 1);
  }
}
@keyframes onMove {
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-70px);
  }
}

@keyframes onMoe {
  100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
}
