.footerTextDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  bottom: 0;
  align-self: center;
  color: #fdfcf2;
  align-self: flex-end;
  margin-bottom: 5%;
}

.grass {
  position: absolute;
  z-index: 0;
  align-self: flex-end;
  display: none;
}

.footerDiv {
  height: 15vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background: url("../components/images/fenceBg.svg") no-repeat;
  background-position: bottom;
  background-size: 100%;
  bottom: -30px;
  width: 100%;
  position: fixed;

  font-size: 10px;

  @media (min-height: 430px) {
    margin-top: 0;
  }
  @media (min-width: 700px) {
    height: 45vh;
  }
}
