@import "./navStyles";
@import "./heroStyles";
@import "./aboutStyles";
@import "./projectsStyles";

.main {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #0b0710;
}
